body {
    margin: 0;
    font-size: 16px;
    background-color: rgb(245, 246, 247);
}

main {
    margin: 0 auto;
    width: 100%;
    
}
header > .header-txt{
    background-color: rgb(0, 183, 255);
    text-align: center;
    padding: 10px;
}

.search-engine{
    display: flex;
    column-gap: 10px;
    margin-bottom: 40px;
}

input{
    text-align: left;
    background-color: white;
    border-radius: 5px;
    padding: 5px 100px;
}

button{
    display: flex;
    background-color: red;
    border-radius: 5px;
}
.search-container{
    display: grid;
    grid-template-columns: auto auto;
}
